In [7]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
df =pd.read_csv("Merged dataset.csv")

In [9]:
df.head()
df.shape

       Date        Index        Stock
0  1/4/2016  7791.299805  4580.649902
1  1/5/2016  7784.649902  4566.950195
2  1/6/2016  7741.000000  4480.799805
3  1/7/2016  7568.299805  4267.899902
4  1/8/2016  7601.350098  4214.750000

(347, 3)

In [11]:
df["Index"].var(), df["Stock"].var()

(253893.55704937296, 533119.6488449952)

In [22]:
df.cov()

               Index          Stock
Index  253893.557049  292532.676806
Stock  292532.676806  533119.648845

In [23]:
df.corr()

          Index     Stock
Index  1.000000  0.795126
Stock  0.795126  1.000000